* { box-sizing: border-box; }

#mapa {
  width: 1920px;
  height: 1089px;
}

body {
/*  background: url("imagenes/norteamerica.jpg") no-repeat center top; */
}

#continente {
  background-repeat: no-repeat;
  background-size: cover;
}
